/* Vars */
:root {
  --main-bg-color: #292a2e;
  --secondary-bg-color: #1c1e23;
  --disabled-color: #6c757d;
  --border-color: #3d404b;
  --box-shadow-color: #222;
  --black: #000;
  --white: #fff;
  --green: #3cd5b0;
  --yellow: #ffbe35;
  --blue: #8ed7f1;
  --border-radius: 3px;
}

/* Global */
html,
body {
  height: 100%;
}

body {
  background: var(--main-bg-color);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: fadein 2s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

::selection {
  background: var(--black);
  color: var(--white);
}

a {
  color: var(--blue);
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}

a:hover,
a:focus,
a:active {
  color: var(--blue);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

ul li a {
  text-decoration: none
}

.hidden {
  display: none;
}


#qrcode {
	width: 300px;
  height: 300px;
  padding-top: 20px;
  background-color: var(--white);
}

.qrPreviewVideo{
	width: 100%;
}

/* Button */
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
  outline: 0;
  box-shadow: none;
}

.btn-primary.disabled, .btn-primary:disabled,
.btn-primary.disabled:hover, .btn-primary:disabled:hover,
.btn-primary.disabled:focus, .btn-primary:disabled:focus {
  color: var(--white);
  background-color: var(--disabled-color);
  border-color: var(--disabled-color);
}

.alert-success, .alert-danger {
  color: var(--white) !important;
  background-color: var(--secondary-bg-color) !important;
  border-color: var(--border-color) !important;
}

/* Card */
.card-title {
  letter-spacing: 1px;
}

.card,
.modal-content {
  background: var(--secondary-bg-color);
  box-shadow: 0 0 21px var(--box-shadow-color);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.card-header,
.card-footer {
  border-color: var(--border-color);
}

.close,
.close:hover {
  color: var(--white);
}

/* Modal */
.modal-header,
.modal-footer {
  border-color: var(--border-color);
}

/* Tables */
.table {
  margin-bottom: 5px;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid var(--border-color);
}

/* Tabs */

.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
  color: var(--white);
}

/* Forms */
.form-control {
  background: var(--main-bg-color) !important;
  border-color: var(--border-color);
  color: var(--white) !important;
}

.form-control:focus {
  color: var(--white);
  background-color: var(--main-bg-color);
  border-color: var(--border-color);
  outline: 0;
  box-shadow: none;
}

/* Colors */
#spendAddressbzx,
#spendAmountbzx {
  color: var(--blue);
}

#spendAddressbcz,
#spendAmountbcz {
  color: var(--green);
}

#spendAddressgxx,
#spendAmountgxx {
  color: var(--yellow);
}

.blue {
  color: var(--black);
  background-color: var(--blue);
  border-color: var(--secondary-bg-color) !important;
}

.green {
  color: var(--black);
  background-color: var(--green);
  border-color: var(--secondary-bg-color) !important;
}

.yellow {
  color: var(--black);
  background-color: var(--yellow);
  border-color: var(--secondary-bg-color) !important;
}

.blue:hover,
.blue:focus,
.blue:active,
.blue:not(:disabled):not(.disabled).active,
.blue:not(:disabled):not(.disabled):active,
.show>.blue.dropdown-toggle {
  background-color: var(--blue);
  border-color: var(--blue);
}

.green:hover,
.green:focus,
.green:active,
.green:not(:disabled):not(.disabled).active,
.green:not(:disabled):not(.disabled):active,
.show>.blue.dropdown-toggle {
  background-color: var(--green);
  border-color: var(--green);
}

.yellow:hover,
.yellow:focus,
.yellow:active,
.yellow:not(:disabled):not(.disabled).active,
.yellow:not(:disabled):not(.disabled):active,
.show>.blue.dropdown-toggle {
  background-color: var(--yellow);
  border-color: var(--yellow);
}

.bluetext {
  color: var(--blue);
}

.greentext {
  color: var(--green);
}

.yellowtext {
  color: var(--yellow);
}

.gray {
  color: var(--border-color);
}

.table-responsive {
  overflow-x: auto;
}

.remove {
  display: none;
}

.enable {
  display: block;
}

/* Media queries */
@media (min-width:  575.98px) {
  .card {
    min-height: 834px;
  }
  .remove {
    display: block;
  }
  .enable {
    display: none;
  }
}
